;; shadow-cljs configuration
{:source-paths
 ["src"]
 
 :dependencies 
 [[rum "0.12.6"]
  [net.sekao/odoyle-rules "0.11.0"]
  [net.sekao/odoyle-rum "0.11.0"]]

 :dev-http
 {8888 "public"}

 :builds
 {:app {:target     :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules    {:main {:init-fn main.app/init}}}}}
